<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>List of items</h2>
            <% var dt = data.length; %>
            <ul>
                <% for(var i=0; i<dt; i++) { %>
                    <li>
                        <a href='books/<%= data[i].author[0] %>'>
                            <%= data[i].author[0] %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>